footer {
    width: 100%;
    height: 196px;
    background-color: #002529;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 1110px;
    height: 100px;
}

.footer-content {
    width: 730px;
    height: 100%;
}